IO_LOC "out_LOW" 15;
IO_PORT "out_LOW" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "power" 88;
IO_PORT "power" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "reset" 87;
IO_PORT "reset" IO_TYPE=LVCMOS33 PULL_MODE=UP;
